<% if !flash[:danger].nil? %>
  <h1><%= flash[:danger] %></h1>
<% end %>
<h1>Форма входа</h1>

<%= form_for(:session, url: login_path) do |f|%>
    <%= f.label :email %>
  	<%= f.text_field :email, placeholder: "E-Mail" %>

    <%= f.label :password, "Пароль" %>
		<%= f.password_field :password, placeholder: "Пароль" %>
	<%= f.submit "Зайти" %>
<% end %>
