<p id="notice"><%= notice %></p>

<p>
  <strong>Имя:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>Фамилия:</strong>
  <%= @contact.surname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Номер тел:</strong>
  <%= @contact.phone %>
</p>

<p>
  <strong>Добавил(id):</strong>
  <%= @contact.user_id %>
</p>

<p>
  <strong>Дополнительная информация:</strong>
  <%= @contact.optional %>
</p>

<%= link_to 'Изменить', edit_contact_path(@contact) %> |
<%= link_to 'Назад', contacts_path %>
